<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>[[[common:title()]]]</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="/nitrogen/jquery-ui/jquery.ui.all.css" rel="stylesheet" media="screen"/>
    <link href="/nitrogen/nitrogen.css" rel="stylesheet"/>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/js/jquery.jgrowl.min.css" rel="stylesheet"/>

  </head>
<body>
  <div class="container-fluid container_wrapper">
    <div class="row-fluid wrapper">
      <div class="span9 centering_row">
        [[[page:column_center()]]]
        <div id="RMES" class="jGrowl bottom-right"></div>
      </div>
    </div>
  </div>
  <script src="/nitrogen/jquery.js"></script>
  <script src="/nitrogen/jquery-ui.js"></script>
  <script src="/nitrogen/livevalidation.js"></script>
  <script src="/nitrogen/nitrogen.js"></script>
  <script src='/nitrogen/bert.js'></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src='/js/jquery.jgrowl.min.js'></script>
  <script>[[[script]]]</script>
</body>
</html>